h1 {
  color: #00f;
  text-align: center;
}
h2 {
  color: #0000ff;
  font-size: 40;
  font-style: italic;
  font-family: serif;
}
p {
  color: red;
  color: #f00;
  color: #ff0000;
  color: rgb(255,0,0);
  color: rgb(100%, 0%, 0%);
  color: hsl(0, 100%, 50%);
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}
